body {
    font-family: 'Poppins', sans-serif;
    background-color: #1E2A3A;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header h1 {
    font-size: 28px;
    font-weight: 600;
}

.header h1 span {
    color: #6abf45;
}

.container h1 span {
    color: #6abf45;
}

.about {
    display: flex;
    align-items: center;
    gap: 15px;
}

.about a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.about button {
    background-color: #6abf45;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.about button:hover {
    background-color: #5a9d3a;
}

main.container {
    padding: 50px 20px;
}

h1 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
}

p {
    color: #ababab;
    font-size: 18px;
    line-height: 1.5;
}

form#ticket-search {
    display: flex;
    justify-content: space-evenly;
    max-width: 60%;
    margin: auto;
    padding: 10px;
    border-radius: 8px;
}

form > div {
    display: flex;
    flex-direction: column;
    gap: 5px; /* Inputlar orasidagi masofa */
}

form select, form input, form button {
    padding: 15px; /* Kattaroq padding */
    background: white;
    color: black;
    border-radius: 6px;
    border: none;
    outline: none;
    width: 260px;
    font-size: 16px; /* Kattaroq shrift */
}

form button {
    background-color: #6abf45;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

form button:hover {
    background-color: #5a9d3a;
}





.background {
    background-image: url('../images/1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
